body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
 }
 h1 {color: crimson}
 footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: crimson;
 }
 footer p {
  text-align: center;
  color: white;
 }
 nav {
  background-color: wheat;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
 }
 nav a {
  display: inline-block;
  text-decoration: none;
  color: #718096;
  margin-right: 12px;
  min-width: 120px;
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 2px solid white;
 }
 nav a.active {
  color: #287d78;
  border-bottom: 2px solid #008489;
 }
 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 1rem;
 }
 form {
  max-width: 440px;
  width: 100%;
  margin: 2rem auto;
 }
 .row {
  display: flex;
  flex-direction: column;
 }
 .row-buttons {
  display: flex;
  justify-content: flex-end;
 }
 label {
  width: 100%;
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #545353;
 }
 input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.08);
  color: #6a6a6a;
  font-family: 'Lato', sans-serif;
 }
 button {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem 0;
  color: white;
  background-color: #008489;
  border: #008489 solid 1px;
  cursor: pointer;
  transition: background-color 400ms ease-in-out;
 }
 button[disabled] {
  background-color: #6a6a6a;
  cursor: not-allowed;
   }
table {
  width: 100%;
  margin-bottom: 24px;
 }
 th {
  padding: 10px 20px;
  background-color: #008489;
  color: white;
  text-align: left;
 }
 td {
  padding: 10px 20px;
  border: 1px solid #008489;
 }
 .apto {
color: red;
margin-bottom: 60px;
 }